<form action="/movies/categories/multiple/result" method="POST">
    <label for="">Fantasy</label>
    <input type="checkbox" name="genre" value="Fantasy"><br>
    <label for="">Drama</label>
    <input type="checkbox" name="genre" value="Drama"><br>
    <label for="">Adventure</label>
    <input type="checkbox" name="genre" value="Adventure"><br>
    <button>Find</button>
</form>
