<link rel="stylesheet" href="/stylesheets/partials/Navbar.css">
<nav>
    <a href="/">MOVIE LIST</a>
    <a href="/movies/categories">MOVIE CATEGORIES</a>
    <a href="/movies/multiple/categories">MULTIPLE CATEGORIES</a>
    <a href="/movies/create">CREATE</a>

</nav>