<div class="error">
    <h1>An error has occured :(</h1>
    <p>Code {{statusCode}} - {{message}}</p>
    <div class="img-container">
        <img src="/images/JohnnyCrying.gif" alt="">
    </div>
</div>
