.dynamic-error {
    width: 160px;
    height: 40px;
    border: red 2px solid;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 100px;
    animation: slideUp 2.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideUp {
    100% {
        top: 15px;
    }
}