.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.error .img-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.error img {
    width: 60%;
}