<form action="/movies/create" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="director" name="director">
    <input type="text" placeholder="duration" name="duration">
    <button>Create Movie</button>
</form>