{{!-- <div>
    <a href="/students?name=elko&profession=coder">Elko's page</a>
    <a href="/students?name=nienke&profession=coder">Nienkes page</a>
    <a href="/students?name=amruta&profession=coder">Amrutas page</a>
</div> --}}
<div class="container">
  {{#each movies}}
        {{> MovieCard}}
  {{/each}}
</div>
