<div class="search">
    <div class="form-container">
        <div class="title">
            <h1>SEARCH!</h1>
        </div>
        <input id="search-npt" placeholder="searh by title or genre" type="text">
        <button id="search-btn">SEARCH</button>

    </div>

    <div class="container">

    </div>
</div>



<script>

    let $searchButton = document.querySelector("#search-btn");
    let $searchInput = document.querySelector("#search-npt");
    let $movieContainer = document.querySelector(".container");

    $searchButton.addEventListener("click", ()=> {
       let query =  $searchInput.value;
       axios.get(`/movies/search/${query}`)
        .then((response)=> {
            $movieContainer.innerHTML = "";

            if(response.data.movies.length === 0){ 
                 $movieContainer.innerHTML = "<h1>No results...</h1>";
            } else {
                response.data.movies.forEach((movie)=> {
                    $movieContainer.appendChild(createMovieCard(movie));
                })
            }
        })
        .catch((error)=> {
            createError(error);
        })
    })

    function createMovieCard(movie){
        let $divContainer = document.createElement("div");
        $divContainer.setAttribute("class", "movie-card");
        $divContainer.innerHTML =
        `    
           <h3>${movie.title} by ${movie.director.name}</h3>
            <div class="button-container">
                <a href="/movies/detail?id=${movie._id}">
                    <button>DETAILS</button>
                </a>
                <a href="/movies/update?id=${movie._id}">
                    <button>UPDATE <span class="line"></span></button>
                </a>
            </div>  
        `
        return $divContainer;
    }
</script>