<form action="/movies/update" method="POST">
    <input type="text" value="{{movie.title}}" name="title">
    <input type="text" value="{{movie.director}}" name="director">
    <input type="text" value="{{movie.duration}}" name="duration">
    <input type="text" hidden value="{{movie.id}}" name="id">
    <button>Edit Movie</button>
</form>