<div class="movie-card">
  <h3>{{title}} by {{this.director.name}}</h3>
  <div class="button-container">
    <a href="/movies/detail?id={{_id}}">
        <button>DETAILS</button>
    </a>
    <a href="/movies/update?id={{_id}}">
        <button>UPDATE <span class="line"></span></button>
    </a>
  </div>  
</div>