<div class="form-container">
    <div class="title">
        <h1>CREATE DIRECTOR</h1>
    </div>
    <form action="/director/create" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="biography" name="biography">
        <button>CREATE DIRECTOR</button>
    </form>
</div>

